---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app navidrome
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      navidrome:
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.58.5@sha256:648ebd45c50c58edc7ad9f0cc3b4411a1bece16c81f0b3630a0ab0a739c6d7ec
            env:
              ND_DATAFOLDER: /config
              ND_ENABLEGRAVATAR: "true"
              ND_LOGLEVEL: info
              ND_MUSICFOLDER: /var/mnt/vol1/music
              ND_PORT: &port 8080
              ND_PROMETHEUS_ENABLED: "true"
              ND_SCANSCHEDULE: "@every 1h"
              ND_SESSIONTIMEOUT: 24h
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 750Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["music.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: navidrome
        globalMounts:
          - path: /config
      cache:
        type: emptyDir
        globalMounts:
          - path: /config/cache
      music:
        type: nfs
        server: 192.168.50.220
        path: /volume4/media/music
        globalMounts:
          - path: /var/mnt/vol1/music
