---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opencode
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      opencode:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/anomalyco/opencode
              tag: 0.0.0-dev-202602101247
            args:
              - serve
              - --port
              - "4096"
              - --hostname
              - 0.0.0.0
              - --print-logs
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1024Mi
    persistence:
      config:
        existingClaim: opencode
        globalMounts:
          - path: /root
    service:
      app:
        controller: opencode
        ports:
          http:
            port: 4096
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 4096
