---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opencode
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: topolvm-thin-provisioner
