---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos
spec:
  interval: 1h
  chart:
    spec:
      chart: thanos
      version: 17.3.1
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      security:
        allowInsecureImages: true
    image:
      registry: quay.io
      repository: thanos/thanos
      tag: v0.40.1@sha256:aae7b2b030ed00d88abd8c5a357d08b46f22151ca0d50d9c796223fa332389c8
    existingObjstoreSecret: thanos-secret
    queryFrontend:
      enabled: true
      replicaCount: 1
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 10m
          memory: 256Mi
    query:
      enabled: true
      replicaCount: 1
      replicaLabel: ["__replica__"]
      dnsDiscovery:
        sidecarsService: kube-prometheus-stack-thanos-discovery
        sidecarsNamespace: observability
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 10m
          memory: 128Mi
    bucketweb:
      enabled: true
      replicaCount: 0
      resources:
        limits:
          memory: 512Mi
        requests:
          cpu: 10m
          memory: 64Mi
    compactor:
      enabled: false
      concurrency: 4
      extraFlags:
        - --delete-delay=30m
      retentionResolutionRaw: 14d
      retentionResolution5m: 30d
      retentionResolution1h: 60d
      persistence:
        enabled: true
        storageClass: topolvm-thin-provisioner
        size: 10Gi
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 10m
          memory: 64Mi
    storegateway:
      enabled: true
      replicaCount: 0
      persistence:
        enabled: true
        storageClass: topolvm-thin-provisioner
        size: 10Gi
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 10m
          memory: 128Mi
    ruler:
      enabled: true
      replicaCount: 1
      replicaLabel: __replica__
      alertmanagers: ["http://alertmanager-operated.observability.svc.cluster.local:9093"]
      extraFlags: ["--web.prefix-header=X-Forwarded-Prefix"]
      config: |-
        groups:
          - name: PrometheusWatcher
            rules:
              - alert: PrometheusDown
                annotations:
                  summary: A Prometheus has disappeared from Prometheus target discovery
                expr: absent(up{job="kube-prometheus-stack-prometheus"})
                for: 5m
                labels:
                  severity: critical
      persistence:
        enabled: true
        storageClass: topolvm-thin-provisioner
        size: 10Gi
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 10m
          memory: 512Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
