---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app webtop
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      webtop:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/webtop
              tag: ubuntu-xfce
            env:
              TZ: ${TIMEZONE}
              PUID: "1000"
              PGID: "1000"
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
                add:
                  - SYS_ADMIN
                  - CHOWN
                  - DAC_OVERRIDE
                  - FOWNER
                  - SETGID
                  - SETUID
                  - NET_BIND_SERVICE
          cdp-proxy:
            image:
              repository: caddy
              tag: alpine
            command:
              - caddy
              - reverse-proxy
              - --from
              - :9223
              - --to
              - 127.0.0.1:9222
              - --change-host-header
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: &port 3000
      cdp:
        hostnames:
          - "cdp.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 9223
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      dev-shm:
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        globalMounts:
          - path: /dev/shm
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
          cdp:
            port: 9223
