---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./pvc.yaml
configMapGenerator:
  - name: webtop-configmap
    files:
      - 99-custom-chromium.sh=./config/99-custom-chromium.sh
generatorOptions:
  disableNameSuffixHash: true
